%html
  %head
    %script{:src => 'socket.io.min.js'}
    %script{:src => 'underscore-min.js'}
    %script{:src => 'one-color.js'}
    %script{:src => 'view_lib.js'}
    %script{:src => 'ai.js'}
    %script{:src => 'strains.js'}
    %script{:src => 'view.js'}
    :css
      *{margin:0;padding:0}
      #arena_canvas{background:#002b36;}
  %body{:onload => '_init()'}
    %canvas#arena_canvas