body {background: #002B36;}
html, body, #ct { height: 100%}
#ct { height: calc(100% - 45px); height: -webkit-calc(100% - 45px); }
div {position:relative;}
#cols, #codemirror, #mote, .CodeMirror, .CodeMirror-scroll, #col-code, #col-mote, #cols{ height: 100% }
#col-code, #col-mote {height: calc(100% - 45px); height: -webkit-calc(100% - 45px);}

.dg.ac {z-index: 1 !important}

.gui {position: absolute; height: 0; top: 40px; width: 100%;}
.gui .code, .gui .mote {float:right; width: 240px; z-index: 1}


.bottom-up {top: auto; bottom: 100%; }
.navbar .dropdown-menu.bottom-up:before { border-bottom: 0px solid transparent !important; border-top: 7px solid rgba(0, 0, 0, 0.2); top: auto !important; bottom: -7px; }
.navbar .dropdown-menu.bottom-up:after  { border-bottom: 0px solid transparent !important; border-top: 6px solid white;              top: auto !important; bottom: -6px; }
