html
  head
    script(src='/static/js/lib/socket.io.min.js')
    script(src='/static/js/lib/underscore-min.js')
    script(src='/static/js/lib/one-color.js')

    script(src='/static/js/strains.js')
    script(src='/static/js/fixtures.js')
    script(src='/static/js/geom.js')
    script(src='/static/js/mote.js')
    script(src='/static/js/arena.js')

    script(src='/static/js/view_lib.js')
    script(src='/static/js/view.js')

    script(src='/static/js/ai_helper.js')

    script(src='/static/js/solo.js')
    script(src='/static/js/live_view.js')

    style
      *{margin:0;padding:0}
      #arena_canvas{background:#002b36;}
  body
    canvas#arena_canvas
    script(type="text/javascript") _view.init()
