!!!5
html(lang="en")
  head
    title prog^mote
    link(href="/static/css/lib/codemirror/codemirror.css", rel="stylesheet")
    link(href="/static/css/lib/codemirror/theme/solarized-dark.css", rel="stylesheet")
    link(href="/static/css/style.css", rel="stylesheet")

  body
    #col-mote
      iframe#mote(src="/static/html/arena.html")
    #col-code
      #codemirror
    #datgui

    script(src="/static/js/lib/zepto.min.js")
    script(src="/static/js/lib/lodash.min.js")

    script(src="/static/js/lib/codemirror/codemirror.js")
    script(src="/static/js/lib/codemirror/mode/javascript/javascript.js")
    script(src="/static/js/lib/codemirror/mode/coffeescript/coffeescript.js")
    script(src="/static/js/lib/dat.gui.min.js")

    script(src="/static/js/lib/coffee-script.js")
    script(src="/static/js/strains.js")
    script(src="/static/js/editor.js")

