!!!5
html(lang="en")
  head
    title prog^mote

    link(href="/static/css/lib/bootstrap.css", rel="stylesheet")
    //link(href="/static/css/lib/bootstrap-responsive.css", rel="stylesheet")
    link(href="/static/css/lib/codemirror/codemirror.css", rel="stylesheet")
    link(href="/static/css/lib/codemirror/theme/solarized-dark.css", rel="stylesheet")

    link(href="/static/css/style.css", rel="stylesheet")


  body

    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .row-fluid
          .span6
            a.brand(href="#") prog^mote
            ul.nav
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  | mode: solo 
                  b.caret
                ul.dropdown-menu
                  li#mode-solo: a(href="#") solo
                  li: a(href="#") challenge
                  li#mode-live: a(href="#") live

            .gui
              .code
          .span6
            .gui
              .mote
    #ct.container-fluid

      #cols.row-fluid
        #col-code.span6
          #codemirror

          .btn-toolbar
            .btn-group.pull-left
              a.btn.dropdown-toggle(href="#", data-toggle="dropdown")
                | lang: coffeescript 
                b.caret
              ul.dropdown-menu.bottom-up
                li: a(href="#") javascript
                li: a(href="#") coffeescript
            .btn-group.pull-right
              button.run.btn Run &nbsp; Ctrl + Enter
        #col-mote.span6 
          #mote
            iframe(src="/static/html/arena.html", width="100%", height="100%", style="border:0")
    //script(src="/static/js/lib/zepto.min.js")
    script(src="/static/js/lib/jquery.min.js")
    script(src="/static/js/lib/bootstrap.js")
    script(src="/static/js/lib/lodash.min.js")

    script(src="/static/js/lib/codemirror/codemirror.js")
    script(src="/static/js/lib/codemirror/mode/javascript/javascript.js")
    script(src="/static/js/lib/codemirror/mode/coffeescript/coffeescript.js")
    script(src="/static/js/lib/dat.gui.min.js")

    script(src="/static/js/lib/coffee-script.js")
    script(src="/static/js/strains.js")
    script(src="/static/js/editor.js")

